--
-- PostgreSQL database dump
--

\restrict Jj3NXAoZgh3kVfdb8sIbIoj16RRYjjcvqf6V2iq5bz33ksahU5o9Urf8w3g81jE

-- Dumped from database version 16.15 (Ubuntu 16.15-0ubuntu0.24.04.1)
-- Dumped by pg_dump version 16.15 (Ubuntu 16.15-0ubuntu0.24.04.1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: cliptica_admin
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO cliptica_admin;

--
-- Name: CampaignType; Type: TYPE; Schema: public; Owner: cliptica_admin
--

CREATE TYPE public."CampaignType" AS ENUM (
    'WHOP_CONTENT_REWARDS',
    'BRAND_DEAL',
    'OWN_CHANNEL'
);


ALTER TYPE public."CampaignType" OWNER TO cliptica_admin;

--
-- Name: CheckoutStatus; Type: TYPE; Schema: public; Owner: cliptica_admin
--

CREATE TYPE public."CheckoutStatus" AS ENUM (
    'INITIATED',
    'ABANDONED',
    'COMPLETED'
);


ALTER TYPE public."CheckoutStatus" OWNER TO cliptica_admin;

--
-- Name: ClipStatus; Type: TYPE; Schema: public; Owner: cliptica_admin
--

CREATE TYPE public."ClipStatus" AS ENUM (
    'GENERATING',
    'READY',
    'EXPORTING',
    'EXPORTED',
    'FAILED'
);


ALTER TYPE public."ClipStatus" OWNER TO cliptica_admin;

--
-- Name: PayoutStatus; Type: TYPE; Schema: public; Owner: cliptica_admin
--

CREATE TYPE public."PayoutStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'PAID'
);


ALTER TYPE public."PayoutStatus" OWNER TO cliptica_admin;

--
-- Name: ProjectStatus; Type: TYPE; Schema: public; Owner: cliptica_admin
--

CREATE TYPE public."ProjectStatus" AS ENUM (
    'PENDING',
    'PROCESSING',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public."ProjectStatus" OWNER TO cliptica_admin;

--
-- Name: SocialPlatform; Type: TYPE; Schema: public; Owner: cliptica_admin
--

CREATE TYPE public."SocialPlatform" AS ENUM (
    'TIKTOK',
    'YOUTUBE',
    'INSTAGRAM'
);


ALTER TYPE public."SocialPlatform" OWNER TO cliptica_admin;

--
-- Name: SubmissionStatus; Type: TYPE; Schema: public; Owner: cliptica_admin
--

CREATE TYPE public."SubmissionStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED',
    'PAID'
);


ALTER TYPE public."SubmissionStatus" OWNER TO cliptica_admin;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: cliptica_admin
--

CREATE TYPE public."UserRole" AS ENUM (
    'FREE',
    'CLIPPER',
    'STUDIO',
    'ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO cliptica_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public."Account" OWNER TO cliptica_admin;

--
-- Name: Affiliate; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."Affiliate" (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    email text,
    "userId" text,
    "commissionRate" numeric(5,2) DEFAULT 20.00 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Affiliate" OWNER TO cliptica_admin;

--
-- Name: ApiKey; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."ApiKey" (
    id text NOT NULL,
    "userId" text NOT NULL,
    key text NOT NULL,
    name text NOT NULL,
    "lastUsed" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ApiKey" OWNER TO cliptica_admin;

--
-- Name: AutoPilotChannel; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."AutoPilotChannel" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "channelUrl" text NOT NULL,
    "channelTitle" text,
    "lastCheckedAt" timestamp(3) without time zone,
    "lastVideoId" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "clipsPerVideo" integer DEFAULT 3 NOT NULL,
    "captionStyle" text DEFAULT 'hormozi'::text NOT NULL,
    "aspectRatio" text DEFAULT '9:16'::text NOT NULL,
    framing text DEFAULT 'crop'::text NOT NULL,
    "autoApprove" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AutoPilotChannel" OWNER TO cliptica_admin;

--
-- Name: Campaign; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."Campaign" (
    id text NOT NULL,
    "userId" text NOT NULL,
    name text NOT NULL,
    type public."CampaignType" DEFAULT 'BRAND_DEAL'::public."CampaignType" NOT NULL,
    platform text,
    platforms jsonb,
    "imageUrl" text,
    description text,
    rules text,
    "sourceUrls" jsonb,
    "ratePer1k" numeric(10,2) NOT NULL,
    "flatFee" numeric(10,2),
    "minPayout" numeric(10,2) DEFAULT 10.00,
    "maxPayout" numeric(10,2),
    "minViews" integer DEFAULT 1000,
    budget numeric(10,2),
    spent numeric(10,2) DEFAULT 0 NOT NULL,
    deadline timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Campaign" OWNER TO cliptica_admin;

--
-- Name: CampaignClip; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."CampaignClip" (
    id text NOT NULL,
    "campaignId" text NOT NULL,
    "clipId" text NOT NULL,
    views integer DEFAULT 0 NOT NULL,
    "estEarnings" numeric(10,2) DEFAULT 0 NOT NULL,
    "postedAt" timestamp(3) without time zone,
    url text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CampaignClip" OWNER TO cliptica_admin;

--
-- Name: CampaignSubmission; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."CampaignSubmission" (
    id text NOT NULL,
    "campaignId" text NOT NULL,
    "userId" text NOT NULL,
    "postUrl" text NOT NULL,
    platform text NOT NULL,
    views integer DEFAULT 0 NOT NULL,
    likes integer DEFAULT 0 NOT NULL,
    comments integer DEFAULT 0 NOT NULL,
    earnings numeric(10,2) DEFAULT 0 NOT NULL,
    status public."SubmissionStatus" DEFAULT 'PENDING'::public."SubmissionStatus" NOT NULL,
    verified boolean DEFAULT false NOT NULL,
    "verificationNotes" text,
    "lastCheckedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CampaignSubmission" OWNER TO cliptica_admin;

--
-- Name: CheckoutSession; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."CheckoutSession" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "userEmail" text NOT NULL,
    "userName" text,
    "itemType" text NOT NULL,
    "itemId" text NOT NULL,
    "itemName" text NOT NULL,
    amount numeric(10,2),
    currency text DEFAULT 'USD'::text NOT NULL,
    "paddlePriceId" text,
    "paddleTxId" text,
    status public."CheckoutStatus" DEFAULT 'INITIATED'::public."CheckoutStatus" NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "completedAt" timestamp(3) without time zone
);


ALTER TABLE public."CheckoutSession" OWNER TO cliptica_admin;

--
-- Name: Clip; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."Clip" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    description text,
    "sourceStart" integer NOT NULL,
    "sourceEnd" integer NOT NULL,
    duration integer NOT NULL,
    "viralScore" integer NOT NULL,
    "hookScore" integer,
    "retentionScore" integer,
    "shareScore" integer,
    status public."ClipStatus" DEFAULT 'GENERATING'::public."ClipStatus" NOT NULL,
    "thumbnailUrl" text,
    "videoUrl" text,
    "captionStyle" text DEFAULT 'hormozi'::text NOT NULL,
    "aspectRatio" text DEFAULT '9:16'::text NOT NULL,
    "captionData" jsonb,
    "motionGraphics" jsonb,
    "reframeData" jsonb,
    "exportUrl" text,
    "exportedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Clip" OWNER TO cliptica_admin;

--
-- Name: CreditTransaction; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."CreditTransaction" (
    id text NOT NULL,
    "userId" text NOT NULL,
    amount integer NOT NULL,
    type text NOT NULL,
    description text NOT NULL,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CreditTransaction" OWNER TO cliptica_admin;

--
-- Name: Device; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."Device" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "fingerprintHash" text NOT NULL,
    "localId" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "lastSeenAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Device" OWNER TO cliptica_admin;

--
-- Name: EmailVerificationToken; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."EmailVerificationToken" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "tokenHash" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "usedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."EmailVerificationToken" OWNER TO cliptica_admin;

--
-- Name: PasswordResetToken; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."PasswordResetToken" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "tokenHash" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "usedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PasswordResetToken" OWNER TO cliptica_admin;

--
-- Name: Payout; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."Payout" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "campaignId" text,
    "clipId" text,
    amount numeric(10,2) NOT NULL,
    status public."PayoutStatus" DEFAULT 'PENDING'::public."PayoutStatus" NOT NULL,
    "periodStart" timestamp(3) without time zone NOT NULL,
    "periodEnd" timestamp(3) without time zone NOT NULL,
    "paidAt" timestamp(3) without time zone,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Payout" OWNER TO cliptica_admin;

--
-- Name: PostingDay; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."PostingDay" (
    id text NOT NULL,
    "userId" text NOT NULL,
    date date NOT NULL,
    "clipsPosted" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PostingDay" OWNER TO cliptica_admin;

--
-- Name: ProcessedWebhookEvent; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."ProcessedWebhookEvent" (
    id text NOT NULL,
    "stripeEventId" text,
    "paddleEventId" text,
    "whopEventId" text,
    "processedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProcessedWebhookEvent" OWNER TO cliptica_admin;

--
-- Name: ProcessingJob; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."ProcessingJob" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    type text NOT NULL,
    status text DEFAULT 'queued'::text NOT NULL,
    progress integer DEFAULT 0 NOT NULL,
    result jsonb,
    error text,
    "startedAt" timestamp(3) without time zone,
    "completedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProcessingJob" OWNER TO cliptica_admin;

--
-- Name: Project; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."Project" (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    "sourceUrl" text,
    "sourceFile" text,
    duration integer NOT NULL,
    status public."ProjectStatus" DEFAULT 'PENDING'::public."ProjectStatus" NOT NULL,
    instructions text,
    "clipFrom" integer DEFAULT 0 NOT NULL,
    framing text DEFAULT 'smart'::text NOT NULL,
    language text DEFAULT 'auto'::text NOT NULL,
    "captionStyle" text DEFAULT 'hormozi'::text NOT NULL,
    "aspectRatio" text DEFAULT '9:16'::text NOT NULL,
    transcript jsonb,
    "creditsUsed" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Project" OWNER TO cliptica_admin;

--
-- Name: ReferralClick; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."ReferralClick" (
    id text NOT NULL,
    "affiliateId" text NOT NULL,
    "ipHash" text,
    "userAgent" text,
    referer text,
    "landingPage" text DEFAULT '/'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ReferralClick" OWNER TO cliptica_admin;

--
-- Name: ReferralConversion; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."ReferralConversion" (
    id text NOT NULL,
    "affiliateId" text NOT NULL,
    "userId" text,
    type text NOT NULL,
    revenue numeric(10,2) DEFAULT 0 NOT NULL,
    commission numeric(10,2) DEFAULT 0 NOT NULL,
    "stripeEventId" text,
    "paddleEventId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ReferralConversion" OWNER TO cliptica_admin;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL,
    "userAgent" text,
    "ipAddress" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Session" OWNER TO cliptica_admin;

--
-- Name: Setting; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."Setting" (
    key text NOT NULL,
    value text NOT NULL
);


ALTER TABLE public."Setting" OWNER TO cliptica_admin;

--
-- Name: SocialConnection; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."SocialConnection" (
    id text NOT NULL,
    "userId" text NOT NULL,
    platform public."SocialPlatform" NOT NULL,
    "accessToken" text NOT NULL,
    "refreshToken" text,
    "tokenExpiresAt" timestamp(3) without time zone,
    "platformAccountId" text,
    "platformAccountName" text,
    "connectedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SocialConnection" OWNER TO cliptica_admin;

--
-- Name: SocialPublishLog; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."SocialPublishLog" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "clipId" text NOT NULL,
    platform public."SocialPlatform" NOT NULL,
    "externalPostId" text,
    "externalUrl" text,
    status text DEFAULT 'PUBLISHED'::text NOT NULL,
    "errorMessage" text,
    "publishedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SocialPublishLog" OWNER TO cliptica_admin;

--
-- Name: User; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    name text,
    avatar text,
    "passwordHash" text,
    role public."UserRole" DEFAULT 'FREE'::public."UserRole" NOT NULL,
    "canCreateCampaigns" boolean DEFAULT false NOT NULL,
    credits integer DEFAULT 5 NOT NULL,
    "stripeCustomerId" text,
    "stripeSubscriptionId" text,
    "stripePriceId" text,
    "paddleCustomerId" text,
    "paddleSubscriptionId" text,
    "paddlePriceId" text,
    "subscriptionStatus" text,
    "emailVerified" timestamp(3) without time zone,
    "notifyOnComplete" boolean DEFAULT true NOT NULL,
    "notifyOnLowCredits" boolean DEFAULT true NOT NULL,
    "notifyOnWeeklyDigest" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "referredByAffiliateId" text,
    "referredAt" timestamp(3) without time zone
);


ALTER TABLE public."User" OWNER TO cliptica_admin;

--
-- Name: VerificationToken; Type: TABLE; Schema: public; Owner: cliptica_admin
--

CREATE TABLE public."VerificationToken" (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VerificationToken" OWNER TO cliptica_admin;

--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."Account" (id, "userId", type, provider, "providerAccountId", refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: Affiliate; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."Affiliate" (id, name, code, email, "userId", "commissionRate", "isActive", notes, "createdAt", "updatedAt") FROM stdin;
cmuekg1r20000p9lgj4inb1l6	Abdelraheem Mohammed Baraka	ref-qdoaeg	\N	cmudsij8m0000p9rbpbqdoaeg	20.00	t	\N	2026-09-23 20:39:07.743	2026-09-23 20:39:07.743
\.


--
-- Data for Name: ApiKey; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."ApiKey" (id, "userId", key, name, "lastUsed", "createdAt") FROM stdin;
\.


--
-- Data for Name: AutoPilotChannel; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."AutoPilotChannel" (id, "userId", "channelUrl", "channelTitle", "lastCheckedAt", "lastVideoId", "isActive", "clipsPerVideo", "captionStyle", "aspectRatio", framing, "autoApprove", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Campaign; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."Campaign" (id, "userId", name, type, platform, platforms, "imageUrl", description, rules, "sourceUrls", "ratePer1k", "flatFee", "minPayout", "maxPayout", "minViews", budget, spent, deadline, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CampaignClip; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."CampaignClip" (id, "campaignId", "clipId", views, "estEarnings", "postedAt", url, "createdAt") FROM stdin;
\.


--
-- Data for Name: CampaignSubmission; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."CampaignSubmission" (id, "campaignId", "userId", "postUrl", platform, views, likes, comments, earnings, status, verified, "verificationNotes", "lastCheckedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CheckoutSession; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."CheckoutSession" (id, "userId", "userEmail", "userName", "itemType", "itemId", "itemName", amount, currency, "paddlePriceId", "paddleTxId", status, notes, "createdAt", "updatedAt", "completedAt") FROM stdin;
\.


--
-- Data for Name: Clip; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--



--
-- Data for Name: CreditTransaction; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--



--
-- Data for Name: Device; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."Device" (id, "userId", "fingerprintHash", "localId", "userAgent", "createdAt", "lastSeenAt") FROM stdin;
\.


--
-- Data for Name: EmailVerificationToken; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."EmailVerificationToken" (id, "userId", "tokenHash", "expiresAt", "usedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: PasswordResetToken; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."PasswordResetToken" (id, "userId", "tokenHash", "expiresAt", "usedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: Payout; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."Payout" (id, "userId", "campaignId", "clipId", amount, status, "periodStart", "periodEnd", "paidAt", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PostingDay; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."PostingDay" (id, "userId", date, "clipsPosted", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ProcessedWebhookEvent; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."ProcessedWebhookEvent" (id, "stripeEventId", "paddleEventId", "whopEventId", "processedAt") FROM stdin;
\.


--
-- Data for Name: ProcessingJob; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--



--
-- Data for Name: Project; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--



--
-- Data for Name: ReferralClick; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."ReferralClick" (id, "affiliateId", "ipHash", "userAgent", referer, "landingPage", "createdAt") FROM stdin;
\.


--
-- Data for Name: ReferralConversion; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."ReferralConversion" (id, "affiliateId", "userId", type, revenue, commission, "stripeEventId", "paddleEventId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."Session" (id, "sessionToken", "userId", expires, "userAgent", "ipAddress", "createdAt") FROM stdin;
cmuekqxek0002p9lgrgivcycw	sess_d947d4d3a905498d9503b452eb1676b0	cmudsij8m0000p9rbpbqdoaeg	2026-10-23 20:47:35.324	Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/153.0.0.0 Safari/537.36	188.161.192.42	2026-09-23 20:47:35.325
\.


--
-- Data for Name: Setting; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."Setting" (key, value) FROM stdin;
\.


--
-- Data for Name: SocialConnection; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."SocialConnection" (id, "userId", platform, "accessToken", "refreshToken", "tokenExpiresAt", "platformAccountId", "platformAccountName", "connectedAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: SocialPublishLog; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."SocialPublishLog" (id, "userId", "clipId", platform, "externalPostId", "externalUrl", status, "errorMessage", "publishedAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--



--
-- Data for Name: VerificationToken; Type: TABLE DATA; Schema: public; Owner: cliptica_admin
--

COPY public."VerificationToken" (identifier, token, expires) FROM stdin;
\.


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: Affiliate Affiliate_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Affiliate"
    ADD CONSTRAINT "Affiliate_pkey" PRIMARY KEY (id);


--
-- Name: ApiKey ApiKey_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."ApiKey"
    ADD CONSTRAINT "ApiKey_pkey" PRIMARY KEY (id);


--
-- Name: AutoPilotChannel AutoPilotChannel_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."AutoPilotChannel"
    ADD CONSTRAINT "AutoPilotChannel_pkey" PRIMARY KEY (id);


--
-- Name: CampaignClip CampaignClip_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."CampaignClip"
    ADD CONSTRAINT "CampaignClip_pkey" PRIMARY KEY (id);


--
-- Name: CampaignSubmission CampaignSubmission_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."CampaignSubmission"
    ADD CONSTRAINT "CampaignSubmission_pkey" PRIMARY KEY (id);


--
-- Name: Campaign Campaign_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Campaign"
    ADD CONSTRAINT "Campaign_pkey" PRIMARY KEY (id);


--
-- Name: CheckoutSession CheckoutSession_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."CheckoutSession"
    ADD CONSTRAINT "CheckoutSession_pkey" PRIMARY KEY (id);


--
-- Name: Clip Clip_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Clip"
    ADD CONSTRAINT "Clip_pkey" PRIMARY KEY (id);


--
-- Name: CreditTransaction CreditTransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."CreditTransaction"
    ADD CONSTRAINT "CreditTransaction_pkey" PRIMARY KEY (id);


--
-- Name: Device Device_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Device"
    ADD CONSTRAINT "Device_pkey" PRIMARY KEY (id);


--
-- Name: EmailVerificationToken EmailVerificationToken_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."EmailVerificationToken"
    ADD CONSTRAINT "EmailVerificationToken_pkey" PRIMARY KEY (id);


--
-- Name: PasswordResetToken PasswordResetToken_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."PasswordResetToken"
    ADD CONSTRAINT "PasswordResetToken_pkey" PRIMARY KEY (id);


--
-- Name: Payout Payout_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Payout"
    ADD CONSTRAINT "Payout_pkey" PRIMARY KEY (id);


--
-- Name: PostingDay PostingDay_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."PostingDay"
    ADD CONSTRAINT "PostingDay_pkey" PRIMARY KEY (id);


--
-- Name: ProcessedWebhookEvent ProcessedWebhookEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."ProcessedWebhookEvent"
    ADD CONSTRAINT "ProcessedWebhookEvent_pkey" PRIMARY KEY (id);


--
-- Name: ProcessingJob ProcessingJob_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."ProcessingJob"
    ADD CONSTRAINT "ProcessingJob_pkey" PRIMARY KEY (id);


--
-- Name: Project Project_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_pkey" PRIMARY KEY (id);


--
-- Name: ReferralClick ReferralClick_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."ReferralClick"
    ADD CONSTRAINT "ReferralClick_pkey" PRIMARY KEY (id);


--
-- Name: ReferralConversion ReferralConversion_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."ReferralConversion"
    ADD CONSTRAINT "ReferralConversion_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: Setting Setting_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Setting"
    ADD CONSTRAINT "Setting_pkey" PRIMARY KEY (key);


--
-- Name: SocialConnection SocialConnection_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."SocialConnection"
    ADD CONSTRAINT "SocialConnection_pkey" PRIMARY KEY (id);


--
-- Name: SocialPublishLog SocialPublishLog_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."SocialPublishLog"
    ADD CONSTRAINT "SocialPublishLog_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: Affiliate_code_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "Affiliate_code_idx" ON public."Affiliate" USING btree (code);


--
-- Name: Affiliate_code_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "Affiliate_code_key" ON public."Affiliate" USING btree (code);


--
-- Name: ApiKey_key_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "ApiKey_key_key" ON public."ApiKey" USING btree (key);


--
-- Name: AutoPilotChannel_isActive_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "AutoPilotChannel_isActive_idx" ON public."AutoPilotChannel" USING btree ("isActive");


--
-- Name: AutoPilotChannel_userId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "AutoPilotChannel_userId_idx" ON public."AutoPilotChannel" USING btree ("userId");


--
-- Name: CampaignClip_campaignId_clipId_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "CampaignClip_campaignId_clipId_key" ON public."CampaignClip" USING btree ("campaignId", "clipId");


--
-- Name: CampaignSubmission_campaignId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "CampaignSubmission_campaignId_idx" ON public."CampaignSubmission" USING btree ("campaignId");


--
-- Name: CampaignSubmission_userId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "CampaignSubmission_userId_idx" ON public."CampaignSubmission" USING btree ("userId");


--
-- Name: Campaign_userId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "Campaign_userId_idx" ON public."Campaign" USING btree ("userId");


--
-- Name: CheckoutSession_status_createdAt_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "CheckoutSession_status_createdAt_idx" ON public."CheckoutSession" USING btree (status, "createdAt");


--
-- Name: CheckoutSession_userEmail_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "CheckoutSession_userEmail_idx" ON public."CheckoutSession" USING btree ("userEmail");


--
-- Name: CheckoutSession_userId_status_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "CheckoutSession_userId_status_idx" ON public."CheckoutSession" USING btree ("userId", status);


--
-- Name: Clip_projectId_sourceStart_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "Clip_projectId_sourceStart_idx" ON public."Clip" USING btree ("projectId", "sourceStart");


--
-- Name: Clip_projectId_viralScore_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "Clip_projectId_viralScore_idx" ON public."Clip" USING btree ("projectId", "viralScore");


--
-- Name: Clip_userId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "Clip_userId_idx" ON public."Clip" USING btree ("userId");


--
-- Name: CreditTransaction_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "CreditTransaction_userId_createdAt_idx" ON public."CreditTransaction" USING btree ("userId", "createdAt");


--
-- Name: Device_fingerprintHash_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "Device_fingerprintHash_key" ON public."Device" USING btree ("fingerprintHash");


--
-- Name: EmailVerificationToken_tokenHash_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "EmailVerificationToken_tokenHash_key" ON public."EmailVerificationToken" USING btree ("tokenHash");


--
-- Name: EmailVerificationToken_userId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "EmailVerificationToken_userId_idx" ON public."EmailVerificationToken" USING btree ("userId");


--
-- Name: PasswordResetToken_tokenHash_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "PasswordResetToken_tokenHash_key" ON public."PasswordResetToken" USING btree ("tokenHash");


--
-- Name: PasswordResetToken_userId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "PasswordResetToken_userId_idx" ON public."PasswordResetToken" USING btree ("userId");


--
-- Name: Payout_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "Payout_userId_createdAt_idx" ON public."Payout" USING btree ("userId", "createdAt");


--
-- Name: PostingDay_userId_date_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "PostingDay_userId_date_key" ON public."PostingDay" USING btree ("userId", date);


--
-- Name: ProcessedWebhookEvent_paddleEventId_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "ProcessedWebhookEvent_paddleEventId_key" ON public."ProcessedWebhookEvent" USING btree ("paddleEventId");


--
-- Name: ProcessedWebhookEvent_stripeEventId_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "ProcessedWebhookEvent_stripeEventId_key" ON public."ProcessedWebhookEvent" USING btree ("stripeEventId");


--
-- Name: ProcessedWebhookEvent_whopEventId_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "ProcessedWebhookEvent_whopEventId_key" ON public."ProcessedWebhookEvent" USING btree ("whopEventId");


--
-- Name: ProcessingJob_projectId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "ProcessingJob_projectId_idx" ON public."ProcessingJob" USING btree ("projectId");


--
-- Name: ProcessingJob_status_createdAt_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "ProcessingJob_status_createdAt_idx" ON public."ProcessingJob" USING btree (status, "createdAt");


--
-- Name: Project_status_createdAt_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "Project_status_createdAt_idx" ON public."Project" USING btree (status, "createdAt");


--
-- Name: Project_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "Project_userId_createdAt_idx" ON public."Project" USING btree ("userId", "createdAt");


--
-- Name: ReferralClick_affiliateId_createdAt_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "ReferralClick_affiliateId_createdAt_idx" ON public."ReferralClick" USING btree ("affiliateId", "createdAt");


--
-- Name: ReferralConversion_affiliateId_type_createdAt_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "ReferralConversion_affiliateId_type_createdAt_idx" ON public."ReferralConversion" USING btree ("affiliateId", type, "createdAt");


--
-- Name: ReferralConversion_userId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "ReferralConversion_userId_idx" ON public."ReferralConversion" USING btree ("userId");


--
-- Name: Session_sessionToken_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "Session_sessionToken_key" ON public."Session" USING btree ("sessionToken");


--
-- Name: Session_userId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "Session_userId_idx" ON public."Session" USING btree ("userId");


--
-- Name: SocialConnection_userId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "SocialConnection_userId_idx" ON public."SocialConnection" USING btree ("userId");


--
-- Name: SocialConnection_userId_platform_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "SocialConnection_userId_platform_key" ON public."SocialConnection" USING btree ("userId", platform);


--
-- Name: SocialPublishLog_clipId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "SocialPublishLog_clipId_idx" ON public."SocialPublishLog" USING btree ("clipId");


--
-- Name: SocialPublishLog_userId_clipId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "SocialPublishLog_userId_clipId_idx" ON public."SocialPublishLog" USING btree ("userId", "clipId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_paddleCustomerId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "User_paddleCustomerId_idx" ON public."User" USING btree ("paddleCustomerId");


--
-- Name: User_paddleSubscriptionId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "User_paddleSubscriptionId_idx" ON public."User" USING btree ("paddleSubscriptionId");


--
-- Name: User_referredByAffiliateId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "User_referredByAffiliateId_idx" ON public."User" USING btree ("referredByAffiliateId");


--
-- Name: User_stripeCustomerId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "User_stripeCustomerId_idx" ON public."User" USING btree ("stripeCustomerId");


--
-- Name: User_stripeSubscriptionId_idx; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE INDEX "User_stripeSubscriptionId_idx" ON public."User" USING btree ("stripeSubscriptionId");


--
-- Name: VerificationToken_identifier_token_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON public."VerificationToken" USING btree (identifier, token);


--
-- Name: VerificationToken_token_key; Type: INDEX; Schema: public; Owner: cliptica_admin
--

CREATE UNIQUE INDEX "VerificationToken_token_key" ON public."VerificationToken" USING btree (token);


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ApiKey ApiKey_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."ApiKey"
    ADD CONSTRAINT "ApiKey_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AutoPilotChannel AutoPilotChannel_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."AutoPilotChannel"
    ADD CONSTRAINT "AutoPilotChannel_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CampaignClip CampaignClip_campaignId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."CampaignClip"
    ADD CONSTRAINT "CampaignClip_campaignId_fkey" FOREIGN KEY ("campaignId") REFERENCES public."Campaign"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CampaignClip CampaignClip_clipId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."CampaignClip"
    ADD CONSTRAINT "CampaignClip_clipId_fkey" FOREIGN KEY ("clipId") REFERENCES public."Clip"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CampaignSubmission CampaignSubmission_campaignId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."CampaignSubmission"
    ADD CONSTRAINT "CampaignSubmission_campaignId_fkey" FOREIGN KEY ("campaignId") REFERENCES public."Campaign"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CampaignSubmission CampaignSubmission_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."CampaignSubmission"
    ADD CONSTRAINT "CampaignSubmission_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Campaign Campaign_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Campaign"
    ADD CONSTRAINT "Campaign_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CheckoutSession CheckoutSession_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."CheckoutSession"
    ADD CONSTRAINT "CheckoutSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Clip Clip_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Clip"
    ADD CONSTRAINT "Clip_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Clip Clip_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Clip"
    ADD CONSTRAINT "Clip_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CreditTransaction CreditTransaction_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."CreditTransaction"
    ADD CONSTRAINT "CreditTransaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Device Device_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Device"
    ADD CONSTRAINT "Device_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EmailVerificationToken EmailVerificationToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."EmailVerificationToken"
    ADD CONSTRAINT "EmailVerificationToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PasswordResetToken PasswordResetToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."PasswordResetToken"
    ADD CONSTRAINT "PasswordResetToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payout Payout_campaignId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Payout"
    ADD CONSTRAINT "Payout_campaignId_fkey" FOREIGN KEY ("campaignId") REFERENCES public."Campaign"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Payout Payout_clipId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Payout"
    ADD CONSTRAINT "Payout_clipId_fkey" FOREIGN KEY ("clipId") REFERENCES public."Clip"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Payout Payout_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Payout"
    ADD CONSTRAINT "Payout_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PostingDay PostingDay_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."PostingDay"
    ADD CONSTRAINT "PostingDay_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProcessingJob ProcessingJob_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."ProcessingJob"
    ADD CONSTRAINT "ProcessingJob_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Project Project_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ReferralClick ReferralClick_affiliateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."ReferralClick"
    ADD CONSTRAINT "ReferralClick_affiliateId_fkey" FOREIGN KEY ("affiliateId") REFERENCES public."Affiliate"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ReferralConversion ReferralConversion_affiliateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."ReferralConversion"
    ADD CONSTRAINT "ReferralConversion_affiliateId_fkey" FOREIGN KEY ("affiliateId") REFERENCES public."Affiliate"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SocialConnection SocialConnection_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."SocialConnection"
    ADD CONSTRAINT "SocialConnection_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SocialPublishLog SocialPublishLog_clipId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."SocialPublishLog"
    ADD CONSTRAINT "SocialPublishLog_clipId_fkey" FOREIGN KEY ("clipId") REFERENCES public."Clip"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SocialPublishLog SocialPublishLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."SocialPublishLog"
    ADD CONSTRAINT "SocialPublishLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_referredByAffiliateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cliptica_admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_referredByAffiliateId_fkey" FOREIGN KEY ("referredByAffiliateId") REFERENCES public."Affiliate"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO cliptica_admin;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO cliptica_admin;


--
-- PostgreSQL database dump complete
--

\unrestrict Jj3NXAoZgh3kVfdb8sIbIoj16RRYjjcvqf6V2iq5bz33ksahU5o9Urf8w3g81jE

